.btn {
  color: rgb(186, 73, 73);
  padding: 10px 50px;
  font-size: 1.5rem;
}
.btn:hover{
  background-color: rgb(180, 180, 180);
}

.secondWindow {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.secondWindow.break {
  background-color: rgb(76, 145, 149);
}

.btnSessions {
    background-color: white;
    border: 2px solid white;
    border-radius: 400px;
    margin-left: 20px;
    padding: 15px
}

.btnSessions:hover {
  background-color: rgb(180, 180, 180);
}